@inject IntraUmbracoProject.Helpers.AssetHelper AssetHelper

@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MainPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="@AssetHelper.GetAssetPath("css", "app.*.css")">
    <link rel="stylesheet" href="@AssetHelper.GetAssetPath("css", "chunk-vendors.*.css")">
</head>
<body>
    <div id="app">
        <!-- Vue app  -->
    </div>
    <script src="@AssetHelper.GetAssetPath("js", "app.*.js")"></script>
    <script src="@AssetHelper.GetAssetPath("js", "chunk-vendors.*.js")"></script>
</body>
</html>
