@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MainPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <!--To be manually changed after 'npm run build' until automated: -->
    <link rel="stylesheet" href="~/css/app.0f394890.css">
    <link rel="stylesheet" href="~/css/chunk-vendors.7eece550.css">
</head>
<body>
    <div id="app">
        <!-- Vue app  -->
    </div>
    <!--To be manually changed after 'npm run build' until automated: -->
    <script src="~/js/app.c7ea122a.js"></script>
    <script src="~/js/chunk-vendors.2911b9d9.js"></script>
</body>
</html>