@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Montserrat:wght@700&family=Open+Sans:wght@400;600&display=swap');
@import "~bootstrap/dist/css/bootstrap.min.css";


body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
}

.secondary-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
}

button {
    font-weight: 300;
    letter-spacing: 0.015em;
}

body, button, input, select, textarea {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    letter-spacing: 0.015em;
    word-spacing: 0.01em;
    word-wrap: break-word;
}

/* Typography */
h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    letter-spacing: -0.1rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    line-height: 1.3;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

a {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.5
}

p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 0.5; /*1.5*/
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header, .footer {
    padding: 1rem;
}

.main-content {
    background-color: #ECEBED;
    padding: 1.5rem;
}

/* .nav-list {
    list-style: none;
    padding-left: 0;
  } */

.nav-item {
    display: inline-block;
    margin-right: 1.25rem;
}


a, .nav-link,
.nav-link:focus {
    text-decoration: none !important;
    color: #333 !important;
}


a:hover {
  color: #1b887f;
}

    .nav-link:hover {
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;
        color: #1b887f;
    }

    .nav-link.active {
        /*TODO*/
    }

header, footer {
    padding: 20px;
}

::selection, ::-moz-selection {
    background-color: #1b887f;
    color: white;
}

img::selection, img::-moz-selection {
    background-color: rgba(27, 136, 127, 0.5);
}

img:focus, img:active {
    outline: 2px solid #1b887f;
}

/* Global button style - important call to aciton/ a little less important/ least important*/
.nvi-btn {
    padding: 0.75rem;
}

.nvi-btn-wide {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.nvi-btn-primary {
    background-color: #0052cc;
    color: white;
    border: none;
    padding: 10px20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.3sease, box-shadow 0.2sease;
}

    .nvi-btn-primary:hover {
        background-color: #003d99;
        box-shadow: 02px4pxrgba(0, 0, 0, 0.2);
    }

.nvi-btn-secondary {
    background-color: #f0ad4e;
    color: white;
    border: none;
    padding: 10px20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3sease;
}

    .nvi-btn-secondary:hover {
        background-color: #d89a45;
    }

.nvi-btn-tertiary {
    background-color: #e7e7e7;
    color: #333;
    border: 1pxsolid #ccc;
    padding: 10px20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    transition: background-color 0.3sease;
}

    .nvi-btn-tertiary:hover {
        background-color: #d4d4d4;
    }
